<div [formGroup]="productionForm">
  <div class="row">
    <!-- main column -->
    <div class="form-group col-lg-4 col-md-6 border-outline">
      <div class="row">
        <div class="col-sm-4">
          <label>Project Status</label>
          <select #pStatus class="form-control" formControlName="project_status" [ngClass]="_lists.getStatusClass(pStatus.value, _lists.PROD_STATUS)">
            <option value="" selected>Select From list</option>
            <option *ngFor="let item of _lists.PROD_STATUS" [value]="item.status">{{item.status}}</option>
          </select>
          <!--      <div *ngIf="pStatus.value == 'ARCHIVE'" class="archive-msg">
              The project will be archived tonight, Teamwork project will be set to Archive.
            </div> -->
        </div>
        <div class="col-sm-4">
          <label>Assign Manager</label>
          <select class="form-control" formControlName="manager">
            
            <ng-container *ngIf="userInfo.app_metadata.group !='theorem-creative'">
              <option value="" selected >Select From list</option>
              <option *ngFor="let item of _lists.MANAGERS" [value]="item.name">{{item.name}}</option>
            </ng-container>
            <!-- <ng-container *ngIf="userInfo.app_metadata.group =='theorem-creative'"> -->
            <option value="Theorem" *ngIf="team == 2 || userInfo.app_metadata.group == 'theorem-creative'">Theorem</option>
            <!-- </ng-container> -->
            <option value="QA">QA</option>
          </select>
        </div>
        <div class="col-sm-4">
          <label>Client Due Date</label>
          <div class="input-group">
            <input class="form-control" [options]="myDatePickerOptions" #dpClient="ngx-mydatepicker" ngx-mydatepicker formControlName="client_due" name="client_due">
            <div class="input-group-btn">
              <button type="button" class="btn btn-default" (click)="dpClient.toggleCalendar()" [disabled]="disabledForm"><span class="glyphicon glyphicon-calendar"></span></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group col-lg-4 col-md-6 border-outline">
      <div class="row">
        <div class="col-sm-6">
          <label>Designer</label>
          <select class="form-control" formControlName="designer">
            <option value="">Please Select</option>
            <ng-container *ngIf="userInfo.app_metadata.group !='theorem-creative'">
              <option *ngFor="let item of _lists.DESINGERS" [value]="item.name">{{item.name}}</option>
            </ng-container>
            <option *ngFor="let item of _lists.THEOREM_TEAM" [value]="item.name">{{item.name}}</option>
          </select>
        </div>
        <div class="col-sm-6">
          <label>Designer Status</label>
          <select #dStatus class="form-control" formControlName="internal_status" [ngClass]="_lists.getStatusClass(dStatus.value, _lists.INTERNAL_STATUS)">
            <option value="" selected>Select From list</option>
            <option *ngFor="let item of _lists.INTERNAL_STATUS" [value]="item.status">{{item.status}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="form-group col-lg-4 col-md-6 border-outline">
      <label>PHNX Task</label>
      <div class="input-group">
        <input type="text" class="form-control" formControlName="phnx_task">
        <span class="input-group-btn">
                  <a class="btn btn-default" href="{{phnx_taskCtrl.value}}" target="_blank">Go!</a>
                </span>
      </div>
      <div class="form-msg">
        <div class="bg-danger" *ngIf="phnx_taskCtrl.errors">
          <span class="glyphicon glyphicon-remove"></span>
          <span> not valid url</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-xs-12 border-outline">
      <label>Notes</label>
      <textarea class="form-control" rows="5" formControlName="notes" (blur)="onNotesBlur($event)"></textarea>
    </div>
  </div>
<!--   <div class="row">
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <div class="form-group">
          </div>
        </div>
        <div class="col-sm-12 col-md-6">
          <div class="form-group">
          </div>
        </div>
        <div class="col-sm-12 col-md-6">
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <div class="form-group">
          </div>
        </div>
        <div class="col-sm-12 col-md-6">
          <div class="form-group">
          </div>
        </div>
        <div class="col-sm-12 col-md-6">
          <label>Internal Due Date</label>
          <div class="input-group">
            <input class="form-control" [options]="myDatePickerOptions" #dpInternal="ngx-mydatepicker" ngx-mydatepicker name="internal_due" formControlName="internal_due">
            <div class="input-group-btn">
              <button type="button" class="btn btn-default" (click)="dpInternal.toggleCalendar()" [disabled]="disabledForm"><span class="glyphicon glyphicon-calendar"></span></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
      </div>
    </div>
  </div> -->
</div>
