@import "../../../_vars";

.notificationPanel {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: $topIndex; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.nav-close{
    position:absolute;
    top:0px;
    right:0px;
}

.btn{
    line-height:1;
    padding:2px 2px;
    margin-bottom:5px;
    font-size:30px;
}