@import "../../../_vars";

.heading-type{
	background-color:#FF0000;
}

.warning-padding{
	padding: 5px;
    margin: 5px;
    border-radius: 4px;
    max-width: fit-content;
}

.panel-heading h3 {
	margin:0;
}

.script-message {
	padding: 10px;
}