<div id="tag-module" [ngClass]="{'afix':afix, 'closed':!expandFloat, 'open':expandFloat}">
  <div class="toggle btn" (click)="onToggleTagging()" *ngIf="afix">
    <span class="glyphicon glyphicon-tag"></span>
  </div>
  <div class="tag-block" [ngClass]="{'afix':afix}">
    <div class="well well-sm">
  <!--     <div class="row">
        
          <div class="" [ngClass]="{'col-sm-6':!stacked, 'col-sm-12':stacked}">
            <div class="form-group">
            <select [(ngModel)]="vertical" (change)="saveVertical($event.target.value)" class="form-control">
              <option value="" disabled>Select Vertical</option>
              <option *ngFor="let item of verticalList" [value]="item.id">
                {{item.name}}
              </option>
            </select>
          </div>
        </div>
      </div> -->
      <div class="row">
        <div class="" [ngClass]="{'col-sm-6':!stacked, 'col-sm-12':stacked}">
          <p>Add tags separated by commas</p>
          <div class="form-group">
            <div class="input-group">
              <input type="text" class="form-control" #taginput (keyup)="_tagServ.search(taginput.value)" [(ngModel)]="tagSelected" [typeahead]="resultList" (typeaheadOnSelect)="selectTag($event)" [typeaheadMinLength]="0" [typeaheadWaitMs]="300" [typeaheadAsync]="true" (typeaheadNoResults)="typeaheadNoResults" [typeaheadOptionField]="'tag_name'" placeholder="education, automobile, hospital...">
              <span class="input-group-btn">
                    <button class="btn btn-info" type="button" (click)="insertTags(taginput.value)"><span class="glyphicon glyphicon-plus"></span></button>
              </span>
            </div>
          </div>
        </div>
        <div class="" [ngClass]="{'col-sm-6':!stacked, 'col-sm-12':stacked}">
          <p>Current Tags:</p>
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let item of internalList">{{item}}
              <button class="btn btn-danger btn-xs pull-right" (click)="deleteCampaignTags(item)"><span class="glyphicon glyphicon-remove"></span></button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
