<div class="container-fluid">
  <div class="container">
    <form [formGroup]="campaignForm" (ngSubmit)="onSubmit()">
      <div class="panel panel-primary">
        <div class="panel-heading" (click)="collapseBasic = !collapseBasic">Basic Info <span *ngIf="collapseBasic"> - click to expand</span></div>
        <div class="panel-body" [collapse]="collapseBasic">
          <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                <label>Archived</label>
                <select formControlName="archived" class="form-control">
                  <option value=0>No</option>
                  <option value=1>Yes</option>
                </select>
                <div *ngIf="archivedMessage " class="form-msg">
                  <div class="bg-success">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    <span *ngIf="archivedControl.value == 1">Project will be archived at the end of the day</span>
                    <span *ngIf="archivedControl.value == 0">Project will be unarchived shortly after saving form</span>
                  </div>
                </div>
                <div class="form-msg small bg-success">
                  <span *ngIf="campaignData.request_archive == 1">Request to archive is in progress. Runs every day at midnight.</span>
                  <span *ngIf="campaignData.request_unarchive == 1">Request to unarchive is in progress. Runs every 5 minutes</span>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label>PHNX ID</label>
                <input type="text" class="form-control" formControlName="phnx_id">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label>TeamWork ID</label>
                <input type="text" class="form-control" formControlName="tw_id">
              </div>
            </div>
            <div class="col-sm-3">
              <!-- <form-am-list [amGroup]=amGroupControl (amSelected)="onAmSelected($event)"></form-am-list> -->
            </div>
            <div class="col-sm-12">
              <div class="form-group">
                <label>Server Name</label>
                <input type="text" class="form-control" formControlName="serverName">
              </div>
            </div>
            <div class="col-sm-6">
              <form-client [clientGroup]=clientGroupControl></form-client>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Campaign Name</label>
                <input type="text" class="form-control" formControlName="campaign_name">
                <div class="form-msg">
                  <div class="bg-danger" *ngIf="campaignNameControl.errors">
                    <span class="glyphicon glyphicon-remove"></span>
                    <span *ngIf="campaignNameControl.errors.required">Can not be empty</span>
                    <span *ngIf="campaignNameControl.errors.minlength">Not long enough</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 text-right">
              <!-- <div class="form-group"> -->
              <button class="btn btn-warning" type="submit" [disabled]="!campaignForm.valid || campaignForm.pristine">Submit</button>
              <button class="btn btn-warning" type="button" (click)="onResetForm()">Reset</button>
              <!-- </div> -->
            </div>
          </div>
        </div>
      </div>
    </form>
    <!--    </div>
    </div> -->
    <div class="panel panel-primary">
      <div class="panel-heading" (click)="collapseShowcase = !collapseShowcase">Showcase<span *ngIf="collapseShowcase"> - click to expand</span></div>
      <div class="panel-body" [collapse]="collapseShowcase">
        <div class="row" *ngIf="campaignData.archived != 0">
          <div class="col-sm-12 col-md-3">
            <div class="row">
              <div class="col-sm-6 col-md-12">
                <div class="form-group">
                  <label>Showcase</label>
                  <select class="form-control" [(ngModel)]="campaignData.show_case.active" (change)="saveShowcase()">
                    <option [ngValue]="false">No</option>
                    <option [ngValue]="true">Yes</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-6 col-md-12" *ngIf="campaignData.show_case.active">
                <div class="form-group">
                  <label>Revision for showcase</label>
                  <select class="form-control" [(ngModel)]="campaignData.show_case.revision" (change)="saveShowcase($event.target.value)">
                    <option [value]="item.revision" *ngFor="let item of campaignData.revisions">{{item.revision}}</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-6 col-md-12" *ngIf="campaignData.show_case.active">
                <div class="form-group">
                  <input type="file" name="photo" ng2FileSelect [uploader]="uploader" />
                </div>
              </div>
              <div class="col-sm-6 col-md-12">
                <img *ngIf="loadingShowCaseImg" src="/assets/images/loading.gif">
                <img *ngIf="showcaseCover && !loadingShowCaseImg" [src]="showcaseCover" width="200">
              </div>

            </div>
          </div>
          <div class="col-sm-12 col-md-9 well well-sm" *ngIf="campaignData.show_case.active">
            <div class="row">
              <div *ngFor="let types of showcaseCreatives" class="col-sm-4">
                <label>{{types.tag}}</label>
                <ul class="list-group">
                  <li class="list-group-item" *ngFor="let crvs of types.items">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" [checked]="crvs.portfolio" (change)="updateShowcaseCrv(crvs.crv_id, $event.target.checked)"> {{crvs.size}} <span *ngIf="types.versions"> - {{ _status.creativeNameDisplay(crvs)}} </span>
                      </label>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="campaignData.archived != 0 && campaignData.revisions.length == 0">
          <div class="col-xs-12">
            At least one peviews is required in order to assign this campaign to the showcase.
          </div>
        </div>
        <div class="row" *ngIf="campaignData.archived == 0">
          <div class="col-xs-12">
            Campaign has to be archived to be in the showcase.
          </div>
        </div>
      </div>
    </div>
    <div id="revisions" class="panel panel-primary">
      <div class="panel-heading" (click)="collapseRevs = !collapseRevs">Revisions <span *ngIf="collapseRevs"> - click to expand</span></div>
      <div class="panel-body" [collapse]="collapseRevs">
        <div class="" *ngIf="campaignData.revisions.length > 0">
          <revision-status-detail (showCreative)="showPreview($event)" (creativeStatusUpdate)="refreshPreviews($event)" [revisionData]="row" [changeStatus]="true" [urlParams]="true" [duplicateCreative]="true" [internalPreview]="true" [customName]="true" [showLockPreview]="true" *ngFor="let row of campaignData.revisions; let idx=index;"></revision-status-detail>
          <button class="btn btn-danger" (click)="deleteLastPreview()" [disabled]="!lastRevision || lastRevDel">Delete Preview</button>
          <p>
            <small>* Delete Preview can only deleted last preview if the status is "pending"</small>
          </p>
        </div>
        <div class="row" *ngIf="campaignData.revisions.length == 0">
          <div class="col-xs-12">
            No preview has been generated yet for this campaign.
          </div>
        </div>
      </div>
    </div>

  <!-- <app-creative-manage></app-creative-manage> -->
    
    <div id="creatives" class="panel panel-primary">
      <div class="panel-heading" (click)="collapseCrvs = !collapseCrvs">Creatives <span *ngIf="collapseCrvs"> - click to expand</span></div>
      <div class="panel-body" [collapse]="collapseCrvs">
        <p class="bg-danger" style="padding: 15px;"> ** Red backgrounds were not found in any of the revisions. Probably are extra creatives never used. **</p>
        <div class="panel panel-info" *ngFor="let typeRow of campaignData.creatives | creativesByType">
          <div class="panel-heading">{{ typeRow.type }}</div>
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead class="thead-inverse">
                  <tr>
                    <th>id</th>
                    <th>Name</th>
                    <th>size</th>
                    <th>Features</th>
                    <th *ngIf="logedUser.app_metadata.group == 'admin'">Delete</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let crv of typeRow.items" [ngClass]="{'danger': crv.no_preview}">
                    <td>
                      <div id="{{crv.crv_id}}"></div>{{crv.crv_id}}</td>
                    <td>{{crv.name}}</td>
                    <td>{{crv.size}}</td>
                    <td>{{crv.features}}</td>
                    <td *ngIf="logedUser.app_metadata.group == 'admin'">
                      <button class="btn btn-danger" (click)="onDeleteCreatve(crv)">delete</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  <div class="panel panel-primary">
      <div class="panel-heading" (click)="collapseTags = !collapseTags">Campaign Tags <span *ngIf="collapseTags"> - click to expand</span></div>
      <div class="panel-body" [collapse]="collapseTags"> -->
<campaign-tags [stacked]="true" [afix]="true" [campaignID]="campaignData.campaign_id" [vertical]='9' [tagList]="campaignData.tags"></campaign-tags>
<!--       </div>
    </div> -->
